:root{
	--pse-bg: #e8f2f7;
	--pse-text: #303131;
	--pse-color: #f5deb3;
	--pse-nav-1: #00a3ff;
	--pse-footer: #333;
	--pse-emboss-bg: #e1ecf5;
	--pse-emboss-border: #d2deeb;
	--pse-emboss-highlight: #f4f8fa;
	--pse-secondary-btn: #eff7fa;
	--pse-secondary-btn-text: #707e93;
	--pse-font-size: 1rem;
	--pse-gradient: linear-gradient(90deg, rgba(0,166,255,1) 0%, rgba(199,255,216,1) 100%);
}

* {
	transition: all 0.4s ease;
}

/*bootstrap extra*/
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }

  @media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
}

body{
	background-color: var(--pse-bg);
	background-position: center top;
	font-size: var(--pse-font-size);
	font-family: Nunito, serif;
	color: var(--pse-text);
}

.disabled{
	pointer-events: none;
	filter: grayscale(100%);
}

.nav-container{
	border-bottom: 2px solid var(--pse-emboss-border);
}

.nav-item{
	border-left: 1px solid var(--pse-emboss-border);
	border-right: 1px solid var(--pse-emboss-border);
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.1rem;
	font-size: 90%;
}

.splash-container{
	font-weight: 700;
}

.splash-border{
	width: 100%;
	background-image: var(--pse-gradient);
	padding: 2px;
}

h1{
	font-weight: 700;
}

.search-magnify{
    width: 100%;
    border: 2px solid var(--pse-emboss-border);
	border-right-color: var(--pse-emboss-highlight);
	border-bottom-color: var(--pse-emboss-highlight);
	background-color: var(--pse-emboss-bg);
    border-radius: 80px;
    padding: 0.5rem 1rem;
}

.search-magnify input{
	width: calc(100% - 27px);
	border: none;
	background: none;
}

.search-magnify input:focus{
	transition-duration: 0s;
    outline: none;
}

.btn-primary{
	border-radius: 16px 8px 16px 8px;
}

.btn-secondary{
	border-radius: 80px;
	background-color: var(--pse-secondary-btn);
	color: var(--pse-secondary-btn-text);
	font-size: 100%;
}

.btn.full-width{
    width: 100%;
	margin-top: 0.5rem;
	}

.btn.half-width{
    width: calc(50% - 0.5rem);
	}


.buttons-container button{
	margin-top: 0.5rem;
}

button.active {
	box-shadow: 0 0 0 .25rem rgba(130, 138, 145, .5);
}

button[id*="rcmd"]{
	background-image: linear-gradient(174deg, #ffdf80 50%, var(--pse-secondary-btn) 51%);
    border-color: #ffbf00;
	width: calc(50% - 0.5rem);
}

button[id*="rcmd"]:hover, button[id*="rcmd"]:focus, button[id*="rcmd"]:active, button[id*="rcmd"].active {
	background-image: linear-gradient(174deg, #ffbf00 50%, #ffbf00 51%);
}

button[id*="rcmd"]:hover{
	border-color: #ffdf80;
}

button[id*="rcmd"]:focus, button[id*="rcmd"]:active, button[id*="rcmd"].active {
	border-color: #ffdf80;
	box-shadow: 0 0 0 .25rem rgba(255, 191, 0, .5);
}


button[id*="new-release"]{
	background-image: linear-gradient(174deg, #80FFA0 50%, var(--pse-secondary-btn) 51%);
    border-color: #00b32d;
	width: calc(50% - 0.5rem);
}

button[id*="new-release"]:hover, button[id*="new-release"]:focus, button[id*="new-release"]:active, button[id*="new-release"].active {
	background-image: linear-gradient(174deg, #00b32d 50%, #00b32d 51%);
}

button[id*="new-release"]:hover{
	border-color: #80FFA0;
}

button[id*="new-release"]:focus, button[id*="new-release"]:active, button[id*="new-release"].active {
	border-color: #80FFA0;
	box-shadow: 0 0 0 .25rem rgba(0, 128, 32, .5);
}

button[id*="pre-order"]{
	background-image: linear-gradient(174deg, #d1c2ff 50%, var(--pse-secondary-btn) 51%);
    border-color: #A080FF;
	width: calc(50% - 0.5rem);
}

button[id*="pre-order"]:hover, button[id*="pre-order"]:focus, button[id*="pre-order"]:active, button[id*="pre-order"].active {
	background-image: linear-gradient(174deg, #A080FF 50%, #A080FF 51%);
}

button[id*="pre-order"]:hover{
	border-color: #d1c2ff;
}

button[id*="pre-order"]:focus, button[id*="pre-order"]:active, button[id*="pre-order"].active {
	border-color: #d1c2ff;
	box-shadow: 0 0 0 .25rem rgba(160, 128, 255, .5);
}


.console-button{
	width:100%;
}

.lounge-banner{
	background-color: var(--pse-nav-1);
	color: white;
	text-transform: uppercase;
	font-size: 75%;
}

.logo{
	height: 60px;
}

.game-image{
	min-width:100%;
	border-radius: 0.5rem;
}

#gameList{
	margin-left: auto;
    margin-right: auto;
}

.btn-po {
	background-color: var(--pse-nav-1);
	padding: 0rem 0.25rem;
	color: white;
	font-size: 80%;
	margin-right: 0.2rem;
}

div[data-category*="pre-order"] figure {
	border: 1rem solid var(--pse-nav-1);
	border-radius: 0.5rem;
}

div[data-category*="pre-order"] figure::before {
	content: 'Pre-Order';
	display: block;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-align: center;
	height: 1rem;
	margin-top: -1rem;
	font-size: 80%;
	width: 100%;
}

div[data-category*="pre-order"] figure > .game-image{
	border-radius: 0rem;
}

/*
.game-image::before {
	content: '';
	display: block;
	padding-top: 87.6%;
}
*/

.game-title-container{
  display: flex;
  align-items: center;
}

footer{
	background-color: var(--pse-footer);
}